@{
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="text-Gray Dark" style="margin-top:90px" class="display-6">WB2024-005-iCarcass</h1>
        <br />
        <p>บริษัท ผลิตภัณฑ์คอนกรีตชลบุรี จำกัด (มหาชน)</p>
        <br />  <br />
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0 text-center" style="height: auto;">
                <table class="table table-head-fixed text-nowrap" border="0">
                  <thead>
                    <tr>
                      <th>Version</th>
                      <th>Detail</th>
                      <th>คู่มือ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>V.6.0.0</td>
                      <td>adminit</td>
                      <td>System</td>
                    </tr>
                    <tr>
                      <td>V.5.0.6</td>
                      <td>เพิ่มหน้ารายงาน PO เทียบ GR</td>
                      <td><a href="https://docs.google.com/document/d/17XkgkMxJulXgST43F73k1PdJyKAgDeBr5O9zDtO0XkM/edit?usp=sharing" >https://docs.google.com/document/d/17XkgkM</a ></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
    
</div>